<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
</head>
<body>
	<div>
		<h5>Sign In</h5>
		<div th:if="${param.error}">
			<p style="color: red">UserName or PassWord is wrong. Please
				check again!</p>
	
		</div>
		<div th:if="${param.logout}">
			<h1>Logged out.</h1>
		</div>
		<form th:action="@{/login}" method="post">
			<div>
				<label for="username">User Name: </label>
				<input type="text" id="username" placeholder="Enter UserName" name="username"/>
			</div>
			<div>
				<label for="password">Password: </label>
				<input type="password" id="password" placeholder="Enter Password" name="password"/>
			</div>
			<button type="submit">Submit</button>
		</form>
	</div>
</body>
</html>